<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-image:url('https://res.cloudinary.com/dsd9jqiwy/image/upload/v1687461417/scg-canvas-background-animation-1_ktwibw.jpg');
        background-size:cover;
    

        }
    </style>
    
</head>

<body>
    <center>
    <h1>Status</h1>
    {% for i in details %}
    <label>email</label>
    {{i[2]}} <br>
    <label>problem</label>
    {{i[3]}} <br>
    <label>categorie</label>
    {{i[7]}} <br>
    <h1>Status:{{i[6]}}</h1>
    </center>
    {% endfor %}
</body>
</html>